* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", sans-serif;
  text-align: center;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

.error-msg {
  display: none;
}

.error-msg {
  color: red;
}

body {
  height: 100%;
  border: 75px solid black;
  border-image: url("/static/images/borders/borders.png") 33% round;
}

main {
  max-height: 100vh;
}

@media (min-width: 1024px) {
  body {
    border: 189px solid black;
    border-image: url("/static/images/borders/borders.png") 33% round;
  }
}
