* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", sans-serif;
  text-align: center;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

.category-select,
.submit-btn,
.error-msg {
  display: none;
}

.error-msg {
  color: red;
}
