{% extends "layout.html" %} {% block content %}
<section class="detail-container">
  {% if brand %}
  <h2>{{ brand.brand_name }}</h2>
  <p>{{ brand.brand_description }}</p>
  <p>Products: {{ count }}</p>
  <a
    href="{{ url_for('edit_page', category='brand', item=brand.brand_name)}}"
    class="btn"
  >
    Edit Brand
  </a>
  <a href="#" class="btn">Delete Brand</a>
  {% else %}
  <h2>Oops! There was an issue, try again.</h2>
  {% endif %}
  <a href="{{ url_for('search_page', category='brands')}}" class="btn">
    Search Brands
  </a>
</section>
{% endblock %}
