{% extends "layout.html" %} {% block content %}
<section>
  {% if category == 'brand' %}
  <h2>Edit {{item.brand_name}}</h2>
  <form
    action="{{ url_for('edit_page', category=category, item=item.brand_name) }}"
    method="POST"
    class="edit-form"
  >
    <div class="label-input-div">
      <label for="nameInput">Edit Brand Name</label>
      <input
        type="text"
        name="brand_name"
        id="nameInput"
        value="{{ item.brand_name }}"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
  {% else %}
  <h2>Edit {{item.product_name}}</h2>
  <form
    action="{{ url_for('edit_page', category=category, item=item.product_name) }}"
    method="POST"
    class="edit-form"
  >
    <div class="label-input-div">
      <label for="nameInput">Edit Product Name</label>
      <input
        type="text"
        name="product_name"
        id="nameInput"
        value="{{ item.product_name }}"
      />
    </div>
    <div class="label-input-div">
      <label for="priceInput">Edit Product Price (cents)</label>
      <input
        type="text"
        name="product_price"
        id="priceInput"
        value="{{ item.product_price }}"
      />
    </div>
    <div class="label-input-div">
      <label for="quantityInput">Edit Product Quantity</label>
      <input
        type="text"
        name="product_quantity"
        id="quantityInput"
        value="{{ item.product_quantity }}"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
  {% endif %}
</section>
{% endblock %}
