{% extends "layout.html" %} {% block content %}
<section>
  {% if category == 'brand' %}
  <h2>Edit {{item.brand_name}}</h2>
  <form
    action="{{ url_for('edit_page', category=category, item=item.brand_name) }}"
    method="POST"
    id="brandEditForm"
    class="edit-form"
  >
    <div class="label-input-div">
      <label for="brandNameInput">Edit Brand Name</label>
      <input
        type="text"
        name="brand_name"
        id="brandNameInput"
        class="name-search"
        value="{{ item.brand_name }}"
      />
      <p class="error-msg">Name Cannot Be Blank!</p>
    </div>
    <div class="label-input-div">
      <label for="brandDescInput">Edit Brand Description</label>
      <textarea id="brandDescInput" name="brand_description">
{{ item.brand_description }}</textarea
      >
      <p class="error-msg">Description Cannot Be Blank!</p>
    </div>
    {% if error %}
    <p class="error-msg">{{ error }}!</p>
    {% endif %}
    <div class="submit-cancel-div">
      <button type="submit">Submit</button>
      <a
        href="{{ url_for('brand_detail', result=item.brand_name) }}"
        class="btn"
      >
        Cancel
      </a>
    </div>
  </form>
  {% else %}
  <h2>Edit {{item.product_name}}</h2>
  <form
    action="{{ url_for('edit_page', category=category, item=item.product_name) }}"
    method="POST"
    id="productEditForm"
    class="edit-form"
  >
    <div class="label-input-div">
      <label for="productNameInput">Edit Product Name</label>
      <input
        type="text"
        name="product_name"
        id="productNameInput"
        class="name-search"
        value="{{ item.product_name }}"
      />
      <p class="error-msg">Name Cannot Be Blank!</p>
    </div>
    <div class="label-input-div">
      <label for="prodDescInput">Edit Product Description</label>
      <textarea id="prodDescInput" name="product_description">
{{ item.product_description }}</textarea
      >
      <p class="error-msg">Description Cannot Be Blank!</p>
    </div>
    <div class="label-input-div">
      <label for="brandSelect">Change Brand</label>
      <select name="brand_name" id="brandSelect">
        {% for brand in brands %} {% if brand.brand_name ==
        item.brand.brand_name %}
        <option value="{{ brand.brand_name }}" selected>
          {{ brand.brand_name }}
        </option>
        {% else %}
        <option value="{{ brand.brand_name }}">{{ brand.brand_name }}</option>
        {% endif %} {% endfor %}
      </select>
      <p class="error-msg">Please Choose a Brand!</p>
    </div>
    <div class="label-input-div">
      <label for="priceInput">Edit Product Price (cents)</label>
      <input
        type="text"
        name="product_price"
        id="priceInput"
        class="num"
        value="{{ item.product_price }}"
      />
      <p class="error-msg">Field Cannot Be Blank!</p>
    </div>
    <div class="label-input-div">
      <label for="quantityInput">Edit Product Quantity</label>
      <input
        type="text"
        name="product_quantity"
        id="quantityInput"
        class="num"
        value="{{ item.product_quantity }}"
      />
      <p class="error-msg">Field Cannot Be Blank!</p>
    </div>
    <div class="submit-cancel-div">
      <button type="submit">Submit</button>
      <a
        href="{{ url_for('product_detail', result=item.product_name) }}"
        class="btn"
      >
        Cancel
      </a>
    </div>
  </form>
  {% endif %}
</section>
{% endblock %}
