{% extends "layout.html" %} {% block content %}
<section class="hero-container">
  <p>
    This is the world's greatest product inventory management system ever
    created!
  </p>
  <p>(Don't Google it, just trust me here...)</p>
  <a href="{{url_for('get_started')}}" class="btn">Get Started</a>
</section>
<section class="home-container">
  <h2>For the Skeptical</h2>
  <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">
    See top Google Results for "Greatest Product Inventory Management System
    Ever Created"
  </a>
</section>
{% endblock %}
