<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/theonering.ico" />
    <title>S.M.E.A.G.O.L.</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li>
            <a href="{{ url_for('category_select', activity='browse')}}"
              >Browse All</a
            >
          </li>
          <li>
            <a href="{{ url_for('category_select', activity='search')}}"
              >Search</a
            >
          </li>
          <li>
            <a href="{{ url_for('category_select', activity='create')}}"
              >Create New</a
            >
          </li>
        </ul>
      </nav>
      {% block content %} {% endblock %}
    </main>
    <script src="/static/app.js"></script>
  </body>
</html>
