{% extends "layout.html" %} {% block content %}
<section class="detail-container">
  {% if product %}
  <h2>{{product.product_name}}</h2>
  <p>
    Brand:
    <a href="{{ url_for('brand_detail', result=product.brand.brand_name) }}">
      {{product.brand.brand_name}}
    </a>
  </p>
  <p>Price: ${{product.product_price / 100}}</p>
  <p>Quantity: {{product.product_quantity}}</p>
  <p>Last Updated: {{product.date_updated}}</p>
  <a
    href="{{ url_for('edit_page', category='product', item=product.product_name) }}"
    class="btn"
  >
    Edit Product
  </a>
  <a href="#" class="btn"> Delete Product </a>
  {% else %}
  <h2>Oops! There was an issue, try again.</h2>
  {% endif %}
  <a href="{{ url_for('search_page', category='products')}}" class="btn">
    Search Products
  </a>
</section>
{% endblock %}
